{% extends 'base.html.twig' %}

{% block title %}Modifier parametres{% endblock %}

{% block body %}
    <h1>Modifier parametres</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">{{ button_label|default('Sauvegarder') }}</button>
    {{ form_end(form) }}

{% endblock %}
