{% extends 'base.html.twig' %}

{% block title %}Nouveau paiement{% endblock %}

{% block body %}
    <h1 style="color: white;">Encaissement </h1>
    {{ component('FactureForm') }}


    <a href="{{ path('admin') }}">Retour à la liste</a>
{% endblock %}
