{% extends 'base.html.twig' %}

{% block title %}New Eleve{% endblock %}

{% block body %}
    <h1>Encaissement groupé</h1>
    {{ component('FactureForm') }}


    <a href="{{ path('admin') }}">Retour à la liste</a>
{% endblock %}
