{% extends 'base.html.twig' %}

{% block title %}New Paiement{% endblock %}

{% block body %}
    <h1 class = 'text-white'>Enregistrer un nouveau paiement</h1>

    {#  include('paiement/_form.html.twig') } #}
    {#{ component('Encaissement') } #}

    {{ component('Encaisseur')}}

    <a href="{{ path('admin') }}">Retour </a>
{% endblock %}
